.aws/credentials

.config/hub

.gnupg

.ipython/profile_default/history.sqlite
.ipython3/profile_default/history.sqlite

.pypirc

.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts

.vim/bundle
.vim/view

.zsh/cache
