[push]
	default = simple

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[credential]
	helper = osxkeychain

[user]
	name = Chuancong Gao
	email = chuanconggao@users.noreply.github.com
	signingkey = 575D5088

[merge]
	tool = vimdiff

[diff]
	tool = vimdiff

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[interactive]
	diffFilter = diff-highlight

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
